# Downloads should not be tracked with git
downloads/*

#apps to ignore --> apps can be installed on the envrionment via scripts/install.sh
apps/*
apps/miniconda/*
apps/openmpi/*
apps/modulefiles/*
apps/bin/*
apps/lib/*
apps/lib64/*
apps/share/*

#ignore niagara specific directories
*_niagara

#apps to include
!apps/bin/memuse
!apps/bin/cpuclock
!apps/bin/eyespy

!apps/bin
!apps/src
!apps/lib
!apps/share

# Misc
GPAW/rchpc/shivun/*

.vscode
